%h2 Log in
= devise_error_messages!
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = devise_error_messages!
  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email'
  .form-group
    = f.label :password
    = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password'
  - if devise_mapping.rememberable?
    .form-group
      = f.check_box :remember_me
      = f.label :remember_me
  .form-group.actions
    = button_tag 'Try it', id: 'try_it', class: 'btn btn-info'
    = f.submit "Log in", class: 'btn btn-primary'
= render "devise/shared/links"
